<h1>Login!</h1>

<div class="container"></div>

<div class="alert alert-warning" *ngIf="invalidLogin">{{ errorMessage }}</div>

<div>
  <div>
    <label for="">User Name : </label
    ><input
      id="username"
      type="text"
      name="username"
      [(ngModel)]="username"
      (keyup)="handleChanges()"
    />
  </div>
  <div>
    <label for="">Password : </label
    ><input
      id="password"
      type="password"
      name="password"
      [(ngModel)]="password"
      (keyup)="handleChanges()"
    />
  </div>
  <button class="btn btn-primary" (click)="handleLogin()">Login</button>
</div>
